@use '../abstracts' as *;

.mosaic-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 200px 200px;
  gap: 4px;

  @include md-down {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
